{% load pybo_filter %}
{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'auth.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <title>중계기 리스트</title>
    <script>

        function goPage(page = 1) {

          var f = document.paging;


          f.page.value = page;


          f.action = "{% url 'login:auth' %}"

          f.method = "post"
          f.submit();
        };
    </script>
</head>
<body>
<div id="wrap">

                <div class="header">
                    <a href="javascript:goPage({{ page_number }});" style=" display:inline-block; text-decoration: none;
                      position:relative; left:60px;"><h3 style="background: linear-gradient(to right top, #861657, #ffa69e);
                        color: transparent; -webkit-background-clip: text;"><b>NEXT LEVEL</b></h3></a>
<!--                    <div id="icon" style="width:100px; height:30px; display:inline-block; position:relative; top:5px; left:550px;"></div>-->
                    <ul class="gnb">
                        <li>{{user.user_name}}님</li>
                         <li ><form action="{% url 'login:index' %}" method="post">
                            {% csrf_token %}
                            <input style="padding:3px;" type="submit" value="로그아웃">
                        </form></li>
                    </ul>
                </div>

            <div id="container">
                <a href="javascript:goPage({{ page_number }});" style="text-decoration: none;"><div id="idx_top">
                    <div class="font" style="display:inline-block;  width:700px; height:80px; position:relative; left:60px;">
                        <div style="width:80px; height:80px; background:black; display:inline-block; text-align:center; line-height:80px; margin-right:10px;"><strong>넥</strong></div>
                        <div style="width:80px; height:80px; background:black; display:inline-block; text-align:center; line-height:80px; margin-right:10px;"><strong>스</strong></div>
                        <div style="width:80px; height:80px; background:black; display:inline-block; text-align:center; line-height:80px; margin-right:10px;"><strong>트</strong></div>
                        <div style="width:80px; height:80px; background:black; display:inline-block; text-align:center; line-height:80px; margin-right:10px;"><strong>인</strong></div>
                        <div style="width:80px; height:80px; background:black; display:inline-block; text-align:center; line-height:80px; margin-right:10px;"><strong>프</strong></div>
                        <div style="width:80px; height:80px; background:black; display:inline-block; text-align:center; line-height:80px;"><strong>라</strong></div>

                    </div>
<!--                    <strong style="background:black;; color:#CCFFFF; position:relative; left:60px;">넥스트인프라</strong>-->
                    <p style="color:black; position:relative; left:60px;"><b>스마트 신호등</b></p>
                    <!--                    <p>스마트 <b>신</b>호등</p>-->
                </div></a>
                <div id="idx_board_wrap">
                        <div class="idx_board">
                            <div class="title">
                                <a href="#" class="name">중계기 목록</a>
                                <h5 style="float:right; position:relative; right:7px; top:10px;">총 {{box_list.paginator.count}}개의 중계기가 있습니다</h5>
                            </div>
                            <hr>
                            <div class="list">
                                <ul>
                                        <li>
                                            <span style="width : 80px; position:relative; right:135px; text-align:left;"><h4>번호</h4></span>
                                            <span style="width: 150px; text-align:center; position:relative; left:30px;"><h4>담당 구</h4></span>
                                            <span style="width : 300px; text-align:center; position:relative; left:140px;"><h4>중계기</h4></span>
                                            <span style="position:relative; left:90px;"><h4>담당 동</h4></span>
                                        </li>

                                    {% for box in box_list %}
                                        <li>
                                            <span style="width: 30px; position:relative; right:143px; text-align:center;">
                                                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                                            {{ box_list.paginator.count|sub:box_list.start_index|sub:forloop.counter0|add:1 }}</span>
                                            <span style="width: 150px; text-align:center; position:relative; left:55px;">{{box.area}}</span>
                                            <span style="width : 300px; text-align:center; position:relative; left:170px;"><a href="{% url 'login:box_detail' user.user_id box.id %}">{{box.box_name}}</a></span>
                                            <span style="position:relative; left:150px;">{{box.box_area}}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- 페이징처리 시작 -->
    <form name="paging">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{user.user_id}}"/>
        <input type="hidden" name="user_pwd" value="{{user.user_pwd}}"/>
    	<input type="hidden" name="page"/>
    </form>
    <ul class="pagination justify-content-center" style="margin-top:28px;">
        <!-- 이전페이지 -->
        {% if box_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="javascript:goPage({{ box_list.previous_page_number }});">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in box_list.paginator.page_range %}
        {% if page_number >= box_list.number|add:-5 and page_number <= box_list.number|add:5 %}
        {% if page_number == box_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="javascript:goPage({{ page_number }});">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="javascript:goPage({{ page_number }});">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if box_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="javascript:goPage({{ box_list.next_page_number }});">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
                </div>
            </div>
</div>
<!--&lt;!&ndash; 페이징처리 시작 &ndash;&gt;-->
<!--    <form name="paging">-->
<!--        {% csrf_token %}-->
<!--        <input type="hidden" name="user_id" value="{{user.user_id}}"/>-->
<!--        <input type="hidden" name="user_pwd" value="{{user.user_pwd}}"/>-->
<!--    	<input type="hidden" name="page"/>-->
<!--    </form>-->
<!--    <ul class="pagination justify-content-center">-->
<!--        &lt;!&ndash; 이전페이지 &ndash;&gt;-->
<!--        {% if box_list.has_previous %}-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="javascript:goPage({{ box_list.previous_page_number }});">이전</a>-->
<!--        </li>-->
<!--        {% else %}-->
<!--        <li class="page-item disabled">-->
<!--            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>-->
<!--        </li>-->
<!--        {% endif %}-->
<!--        &lt;!&ndash; 페이지리스트 &ndash;&gt;-->
<!--        {% for page_number in box_list.paginator.page_range %}-->
<!--        {% if page_number >= box_list.number|add:-5 and page_number <= box_list.number|add:5 %}-->
<!--        {% if page_number == box_list.number %}-->
<!--        <li class="page-item active" aria-current="page">-->
<!--            <a class="page-link" href="javascript:goPage({{ page_number }});">{{ page_number }}</a>-->
<!--        </li>-->
<!--        {% else %}-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="javascript:goPage({{ page_number }});">{{ page_number }}</a>-->
<!--        </li>-->
<!--        {% endif %}-->
<!--        {% endif %}-->
<!--        {% endfor %}-->
<!--        &lt;!&ndash; 다음페이지 &ndash;&gt;-->
<!--        {% if box_list.has_next %}-->
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="javascript:goPage({{ box_list.next_page_number }});">다음</a>-->
<!--        </li>-->
<!--        {% else %}-->
<!--        <li class="page-item disabled">-->
<!--            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>-->
<!--        </li>-->
<!--        {% endif %}-->
<!--    </ul>-->
<!--    &lt;!&ndash; 페이징처리 끝 &ndash;&gt;-->
</body>
</html>