<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4d1a14a5c83c53c10056e794aa75d902 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_4d1a14a5c83c53c10056e794aa75d902" ></div>
        
</body>
<script>
    
    
            var map_4d1a14a5c83c53c10056e794aa75d902 = L.map(
                "map_4d1a14a5c83c53c10056e794aa75d902",
                {
                    center: [37.300276, 126.96987],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_35d6ddaad8f060a3442dd38ffc9c2e86 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var marker_5b50ee3334d2d5d09524a3509dd05f6e = L.marker(
                [37.30310474, 126.9725575],
                {}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var icon_5e25aa1ec553eb81ce639843fd2d557f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5b50ee3334d2d5d09524a3509dd05f6e.setIcon(icon_5e25aa1ec553eb81ce639843fd2d557f);
        
    
        var popup_2b95a1d9f195ce9d019e3b71cb28d531 = L.popup({"maxWidth": "100%"});

        
            
                var html_a195c03424ef276d1001466044358268 = $(`<div id="html_a195c03424ef276d1001466044358268" style="width: 100.0%; height: 100.0%;"><form action=""><input type="hidden" name="traffic_control" value="control"><input type="submit" value="제어"></form></div>`)[0];
                popup_2b95a1d9f195ce9d019e3b71cb28d531.setContent(html_a195c03424ef276d1001466044358268);
            
        

        marker_5b50ee3334d2d5d09524a3509dd05f6e.bindPopup(popup_2b95a1d9f195ce9d019e3b71cb28d531)
        ;

        
    
    
            marker_5b50ee3334d2d5d09524a3509dd05f6e.bindTooltip(
                `<div>
                     경기도 수원시 장안구 율전동 99-10번지신호등
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a0c7d65d0e27d5f7c52a485f62ee708d = L.marker(
                [37.30026241, 126.9746362],
                {}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var icon_c96bcffb2ac57e05d619eb7ebc478764 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a0c7d65d0e27d5f7c52a485f62ee708d.setIcon(icon_c96bcffb2ac57e05d619eb7ebc478764);
        
    
        var popup_93db561e45f7faf545cb16a9014f0629 = L.popup({"maxWidth": "100%"});

        
            
                var html_4604c9092ebca209d301674edac77a02 = $(`<div id="html_4604c9092ebca209d301674edac77a02" style="width: 100.0%; height: 100.0%;"><form action=""><input type="hidden" name="traffic_control" value="control"><input type="submit" value="제어"></form></div>`)[0];
                popup_93db561e45f7faf545cb16a9014f0629.setContent(html_4604c9092ebca209d301674edac77a02);
            
        

        marker_a0c7d65d0e27d5f7c52a485f62ee708d.bindPopup(popup_93db561e45f7faf545cb16a9014f0629)
        ;

        
    
    
            marker_a0c7d65d0e27d5f7c52a485f62ee708d.bindTooltip(
                `<div>
                     경기도 수원시 장안구 율전동 529신호등
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fc641fc8d36f494ef7799b4fda799516 = L.marker(
                [37.29850172, 126.9712244],
                {}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var icon_f35a5e65545f4eff0b2b306610ba3a01 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fc641fc8d36f494ef7799b4fda799516.setIcon(icon_f35a5e65545f4eff0b2b306610ba3a01);
        
    
        var popup_12028d72eaccd07213c3481a14364d51 = L.popup({"maxWidth": "100%"});

        
            
                var html_9b93a8547e0416977c77c4dd110c65f2 = $(`<div id="html_9b93a8547e0416977c77c4dd110c65f2" style="width: 100.0%; height: 100.0%;"><form action=""><input type="hidden" name="traffic_control" value="control"><input type="submit" value="제어"></form></div>`)[0];
                popup_12028d72eaccd07213c3481a14364d51.setContent(html_9b93a8547e0416977c77c4dd110c65f2);
            
        

        marker_fc641fc8d36f494ef7799b4fda799516.bindPopup(popup_12028d72eaccd07213c3481a14364d51)
        ;

        
    
    
            marker_fc641fc8d36f494ef7799b4fda799516.bindTooltip(
                `<div>
                     경기도 수원시 장안구 율전동 291-6번지신호등
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_56aa5590f7f0988613eecf1018378fe5 = L.marker(
                [37.29544408, 126.9701755],
                {}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var icon_c2cfbe790a32791c3ea4a05db4446751 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_56aa5590f7f0988613eecf1018378fe5.setIcon(icon_c2cfbe790a32791c3ea4a05db4446751);
        
    
        var popup_b74dedf8b6e9a0c88ffc2ff7f35e1791 = L.popup({"maxWidth": "100%"});

        
            
                var html_ce14970e02aebd82ef33f71189826d65 = $(`<div id="html_ce14970e02aebd82ef33f71189826d65" style="width: 100.0%; height: 100.0%;"><form action=""><input type="hidden" name="traffic_control" value="control"><input type="submit" value="제어"></form></div>`)[0];
                popup_b74dedf8b6e9a0c88ffc2ff7f35e1791.setContent(html_ce14970e02aebd82ef33f71189826d65);
            
        

        marker_56aa5590f7f0988613eecf1018378fe5.bindPopup(popup_b74dedf8b6e9a0c88ffc2ff7f35e1791)
        ;

        
    
    
            marker_56aa5590f7f0988613eecf1018378fe5.bindTooltip(
                `<div>
                     경기도 수원시 장안구 율전동 435신호등
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eb67534bedff315ec214aa1c4fd39581 = L.marker(
                [37.30635678, 126.9721173],
                {}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var icon_190afa884278894735cae6cd72967ff4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_eb67534bedff315ec214aa1c4fd39581.setIcon(icon_190afa884278894735cae6cd72967ff4);
        
    
        var popup_411d19201fe83f97a26d51b8fb0d7ec1 = L.popup({"maxWidth": "100%"});

        
            
                var html_a0b189d4ab849484015edb91337cde14 = $(`<div id="html_a0b189d4ab849484015edb91337cde14" style="width: 100.0%; height: 100.0%;"><form action=""><input type="hidden" name="traffic_control" value="control"><input type="submit" value="제어"></form></div>`)[0];
                popup_411d19201fe83f97a26d51b8fb0d7ec1.setContent(html_a0b189d4ab849484015edb91337cde14);
            
        

        marker_eb67534bedff315ec214aa1c4fd39581.bindPopup(popup_411d19201fe83f97a26d51b8fb0d7ec1)
        ;

        
    
    
            marker_eb67534bedff315ec214aa1c4fd39581.bindTooltip(
                `<div>
                     경기도 수원시 장안구 율전동 40-1번지신호등
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_feb547cb31aa86faa0a7a1f17b8254b9 = L.marker(
                [37.3061706, 126.9710545],
                {}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var icon_a38fef0c51000506d9e41a39363ecf21 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_feb547cb31aa86faa0a7a1f17b8254b9.setIcon(icon_a38fef0c51000506d9e41a39363ecf21);
        
    
        var popup_4d442219c1f345aad5945aa25dfd5e65 = L.popup({"maxWidth": "100%"});

        
            
                var html_55f66913a123026e7009f697c5eb494c = $(`<div id="html_55f66913a123026e7009f697c5eb494c" style="width: 100.0%; height: 100.0%;"><form action=""><input type="hidden" name="traffic_control" value="control"><input type="submit" value="제어"></form></div>`)[0];
                popup_4d442219c1f345aad5945aa25dfd5e65.setContent(html_55f66913a123026e7009f697c5eb494c);
            
        

        marker_feb547cb31aa86faa0a7a1f17b8254b9.bindPopup(popup_4d442219c1f345aad5945aa25dfd5e65)
        ;

        
    
    
            marker_feb547cb31aa86faa0a7a1f17b8254b9.bindTooltip(
                `<div>
                     경기도 수원시 장안구 율전동 120-4신호등
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_30a322b9387c7ca09eafcac89635c553 = L.marker(
                [37.29721768, 126.9654807],
                {}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var icon_65bbcee6db0ad254a88f1dd48b78d97b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_30a322b9387c7ca09eafcac89635c553.setIcon(icon_65bbcee6db0ad254a88f1dd48b78d97b);
        
    
        var popup_a3fc0c19c44fecc05b20cd0ed1b0b565 = L.popup({"maxWidth": "100%"});

        
            
                var html_e72fa8641d10270a30e9dcff7e00c7ce = $(`<div id="html_e72fa8641d10270a30e9dcff7e00c7ce" style="width: 100.0%; height: 100.0%;"><form action=""><input type="hidden" name="traffic_control" value="control"><input type="submit" value="제어"></form></div>`)[0];
                popup_a3fc0c19c44fecc05b20cd0ed1b0b565.setContent(html_e72fa8641d10270a30e9dcff7e00c7ce);
            
        

        marker_30a322b9387c7ca09eafcac89635c553.bindPopup(popup_a3fc0c19c44fecc05b20cd0ed1b0b565)
        ;

        
    
    
            marker_30a322b9387c7ca09eafcac89635c553.bindTooltip(
                `<div>
                     경기도 수원시 장안구 율전동 600번지 수원성균관대역동문굿모닝힐신호등
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c6eba04deb6d4ba33c6d57476f4c9c37 = L.marker(
                [37.301701, 126.9631797],
                {}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var icon_c4c492346d48817932ccc077e86f3f20 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c6eba04deb6d4ba33c6d57476f4c9c37.setIcon(icon_c4c492346d48817932ccc077e86f3f20);
        
    
        var popup_762b0efaece4ce276aa17dc3a0ece284 = L.popup({"maxWidth": "100%"});

        
            
                var html_4724504325d92392ce693055199f6249 = $(`<div id="html_4724504325d92392ce693055199f6249" style="width: 100.0%; height: 100.0%;"><form action=""><input type="hidden" name="traffic_control" value="control"><input type="submit" value="제어"></form></div>`)[0];
                popup_762b0efaece4ce276aa17dc3a0ece284.setContent(html_4724504325d92392ce693055199f6249);
            
        

        marker_c6eba04deb6d4ba33c6d57476f4c9c37.bindPopup(popup_762b0efaece4ce276aa17dc3a0ece284)
        ;

        
    
    
            marker_c6eba04deb6d4ba33c6d57476f4c9c37.bindTooltip(
                `<div>
                     경기도 수원시 장안구 율전동 557-28신호등
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9747d05b208a1205e9586bcd406d3f50 = L.marker(
                [37.30531946, 126.9709111],
                {}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var icon_7d8b37aab733bb8acfba889df7cbb16c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9747d05b208a1205e9586bcd406d3f50.setIcon(icon_7d8b37aab733bb8acfba889df7cbb16c);
        
    
        var popup_3210dc01c8bd635a08205b6b8073091a = L.popup({"maxWidth": "100%"});

        
            
                var html_ca17b8a8b528fc04ba858fea8fddcad5 = $(`<div id="html_ca17b8a8b528fc04ba858fea8fddcad5" style="width: 100.0%; height: 100.0%;"><form action=""><input type="hidden" name="traffic_control" value="control"><input type="submit" value="제어"></form></div>`)[0];
                popup_3210dc01c8bd635a08205b6b8073091a.setContent(html_ca17b8a8b528fc04ba858fea8fddcad5);
            
        

        marker_9747d05b208a1205e9586bcd406d3f50.bindPopup(popup_3210dc01c8bd635a08205b6b8073091a)
        ;

        
    
    
            marker_9747d05b208a1205e9586bcd406d3f50.bindTooltip(
                `<div>
                     경기도 수원시 장안구 율전동 544-7신호등
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2719a64fe4888aa18353f65a861df216 = L.marker(
                [37.30123545, 126.9662253],
                {}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var icon_bb31b1a29d8739c5cb0f3a289519fa16 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2719a64fe4888aa18353f65a861df216.setIcon(icon_bb31b1a29d8739c5cb0f3a289519fa16);
        
    
        var popup_58413c373e947512419abe1c90ea2fc5 = L.popup({"maxWidth": "100%"});

        
            
                var html_c03736d85d3e529a316ceb8137a98c7f = $(`<div id="html_c03736d85d3e529a316ceb8137a98c7f" style="width: 100.0%; height: 100.0%;"><form action=""><input type="hidden" name="traffic_control" value="control"><input type="submit" value="제어"></form></div>`)[0];
                popup_58413c373e947512419abe1c90ea2fc5.setContent(html_c03736d85d3e529a316ceb8137a98c7f);
            
        

        marker_2719a64fe4888aa18353f65a861df216.bindPopup(popup_58413c373e947512419abe1c90ea2fc5)
        ;

        
    
    
            marker_2719a64fe4888aa18353f65a861df216.bindTooltip(
                `<div>
                     경기도 수원시 장안구 율전동 185-2신호등
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_359d3c8e11826ff2b404136a2153e67a = L.marker(
                [37.30502097, 126.9682401],
                {}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var icon_b8b7fd9b920b8bf0cad5c09962edd7b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_359d3c8e11826ff2b404136a2153e67a.setIcon(icon_b8b7fd9b920b8bf0cad5c09962edd7b8);
        
    
        var popup_38908d79afc6acc3ae18291945458771 = L.popup({"maxWidth": "100%"});

        
            
                var html_ebed988271155f4e439441fef80838d1 = $(`<div id="html_ebed988271155f4e439441fef80838d1" style="width: 100.0%; height: 100.0%;"><form action=""><input type="hidden" name="traffic_control" value="control"><input type="submit" value="제어"></form></div>`)[0];
                popup_38908d79afc6acc3ae18291945458771.setContent(html_ebed988271155f4e439441fef80838d1);
            
        

        marker_359d3c8e11826ff2b404136a2153e67a.bindPopup(popup_38908d79afc6acc3ae18291945458771)
        ;

        
    
    
            marker_359d3c8e11826ff2b404136a2153e67a.bindTooltip(
                `<div>
                     경기도 수원시 장안구 율전동 548번지신호등
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3480615b5a7626112056bfba3a06aefb = L.marker(
                [37.29721768, 126.9654807],
                {}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var icon_f15369683e2f1ce6276b83ab80df04da = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3480615b5a7626112056bfba3a06aefb.setIcon(icon_f15369683e2f1ce6276b83ab80df04da);
        
    
        var popup_7ad5bfab9eb125c8e9e2c897b87070cb = L.popup({"maxWidth": "100%"});

        
            
                var html_2992857b1cc7534cb004cb9ccfbd4b5c = $(`<div id="html_2992857b1cc7534cb004cb9ccfbd4b5c" style="width: 100.0%; height: 100.0%;"><form action=""><input type="hidden" name="traffic_control" value="control"><input type="submit" value="제어"></form></div>`)[0];
                popup_7ad5bfab9eb125c8e9e2c897b87070cb.setContent(html_2992857b1cc7534cb004cb9ccfbd4b5c);
            
        

        marker_3480615b5a7626112056bfba3a06aefb.bindPopup(popup_7ad5bfab9eb125c8e9e2c897b87070cb)
        ;

        
    
    
            marker_3480615b5a7626112056bfba3a06aefb.bindTooltip(
                `<div>
                     경기도 수원시 장안구 율전동 600번지 수원성균관대역동문굿모닝힐신호등
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_88a6c728e319f960038960a2682a2c36 = L.marker(
                [37.29721768, 126.9654807],
                {}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var icon_90e9603cbc593a1be1a5cb7dae45b3f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_88a6c728e319f960038960a2682a2c36.setIcon(icon_90e9603cbc593a1be1a5cb7dae45b3f6);
        
    
        var popup_93724378adfcc4ec1fe61a203e4372b5 = L.popup({"maxWidth": "100%"});

        
            
                var html_64049f9c22f03e0a7ea2ca534c9b8dd7 = $(`<div id="html_64049f9c22f03e0a7ea2ca534c9b8dd7" style="width: 100.0%; height: 100.0%;"><form action=""><input type="hidden" name="traffic_control" value="control"><input type="submit" value="제어"></form></div>`)[0];
                popup_93724378adfcc4ec1fe61a203e4372b5.setContent(html_64049f9c22f03e0a7ea2ca534c9b8dd7);
            
        

        marker_88a6c728e319f960038960a2682a2c36.bindPopup(popup_93724378adfcc4ec1fe61a203e4372b5)
        ;

        
    
    
            marker_88a6c728e319f960038960a2682a2c36.bindTooltip(
                `<div>
                     경기도 수원시 장안구 율전동 600번지 수원성균관대역동문굿모닝힐신호등
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9a82f24c90e2feb707eff9a2e3180df3 = L.marker(
                [37.29999009, 126.9696209],
                {}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var icon_505991c9da5f454223fa1c5680159368 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9a82f24c90e2feb707eff9a2e3180df3.setIcon(icon_505991c9da5f454223fa1c5680159368);
        
    
        var popup_205aa9edbc55f316516aa900c48b664c = L.popup({"maxWidth": "100%"});

        
            
                var html_560f82f418eb08dea4a36e72a1a0893d = $(`<div id="html_560f82f418eb08dea4a36e72a1a0893d" style="width: 100.0%; height: 100.0%;"><form action=""><input type="hidden" name="traffic_control" value="control"><input type="submit" value="제어"></form></div>`)[0];
                popup_205aa9edbc55f316516aa900c48b664c.setContent(html_560f82f418eb08dea4a36e72a1a0893d);
            
        

        marker_9a82f24c90e2feb707eff9a2e3180df3.bindPopup(popup_205aa9edbc55f316516aa900c48b664c)
        ;

        
    
    
            marker_9a82f24c90e2feb707eff9a2e3180df3.bindTooltip(
                `<div>
                     경기도 수원시 장안구 율전동 303-2신호등
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3611410ce74a8694c1c419cdec51896e = L.marker(
                [37.29927656, 126.9694835],
                {}
            ).addTo(map_4d1a14a5c83c53c10056e794aa75d902);
        
    
            var icon_a1e95193311df51e0640ea9d609865fc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3611410ce74a8694c1c419cdec51896e.setIcon(icon_a1e95193311df51e0640ea9d609865fc);
        
    
        var popup_78c86918b85ce8fe3d5569044d2ba2fb = L.popup({"maxWidth": "100%"});

        
            
                var html_d4bdfcdd1498f7cf18a4705d12c9884f = $(`<div id="html_d4bdfcdd1498f7cf18a4705d12c9884f" style="width: 100.0%; height: 100.0%;"><form action=""><input type="hidden" name="traffic_control" value="control"><input type="submit" value="제어"></form></div>`)[0];
                popup_78c86918b85ce8fe3d5569044d2ba2fb.setContent(html_d4bdfcdd1498f7cf18a4705d12c9884f);
            
        

        marker_3611410ce74a8694c1c419cdec51896e.bindPopup(popup_78c86918b85ce8fe3d5569044d2ba2fb)
        ;

        
    
    
            marker_3611410ce74a8694c1c419cdec51896e.bindTooltip(
                `<div>
                     경기도 수원시 장안구 율전동 304-11신호등
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>